@keyframes progressAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6vh 0;
  }
}
html {
  background-color: #343c45;
  font-family: 'Roboto', Arial, sans-serif;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #272727;
}
p {
  margin: 0;
}
#clock {
  color: white;
  font-size: 1.8vh;
  line-height: 2.9vh;
  text-align: center;
  font-weight: 300;
}
#header {
  position: fixed;
  display: block;
  height: 2.9vh;
  width: 100vw;
  background-image: url('header.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
#menuBar {
  position: fixed;
  display: block;
  width: 100vw;
  color: white;
}
#menuBar > div:first-of-type {
  background-color: #38424c;
  display: block;
  padding: 1.5vh;
  padding-top: 0vh;
  width: 100vw;
  font-size: 2.1vh;
  text-align: center;
}

#menuBar a {
  position: absolute;
  display: block;
  left: 1.5vh;
  top: 0vh;
  overflow: hidden;
}
#menuImage {
  height: 2.7vh;
}
#menuBar > div {
  padding-top: 1vh;
  padding-right: 1.5vh;
  padding-bottom: 1vh;
  padding-left: 1.5vh;
  box-sizing: border-box;
  font-weight: 415;
}

#menuBar > div:last-of-type {
  background-color: #09070a;
  display: flex;
  flex-direction: row;
  width: 100vw;

  justify-content: space-around;
}
#menuBar > div:last-of-type > p {
  font-size: 2.1vh;
  padding: 0 2vw;
}
#menuBar > div:last-of-type > p:first-of-type {
  border-bottom: 0.3vh solid #036e85;
}
#main {
  position: fixed;
  display: block;
  padding: 0 2vh;
  top: calc(16.5vh + 12px);
  left: 1vh;
  width: calc(100vw - 2vh);
  background-color: white;
  box-sizing: border-box;
  min-height: 20vh;
}
.paperBorder {
  width: calc(100vw - 2vh);
  box-sizing: border-box;
  position: absolute;
  height: 12px;
  left: 0;
  background-image: url('border.png');
  background-repeat: repeat-x;
  background-size: 40px;
}
#main > img#share {
  float: right;
  margin-top: 1.5vh;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 4vh;
  height: 4vh;
}
#validTo {
  text-align: center;
  margin-top: 6vh;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 2vh;
  font-weight: 410;
}
#zone {
  text-align: center;
  font-size: 2vh;
  font-weight: 410;
  margin-top: -3px;
  margin-right: 0px;
  margin-bottom: 2vh;
  margin-left: 0px;
}
#flexBar {
  display: flex;
  margin-left: -2vh;
  margin-bottom: 0.5vh;
}
#progressBar {
  height: 2.5vh;
  margin-top: 0.6vh;
  min-width: 2vw;
  width: 50vw;
  max-width: 70vw;
  background-image: url('progress.png');
  background-repeat: repeat-x;
  background-size: 6vh 100%;
  animation: progressAnimation 1.5s linear infinite;
}
#timer {
  font-size: 3vh;
  line-height: 4vh;
  color: #9ea112;
  margin: 0 0 0 1vw;
}

#receipt p {
  font-size: 2vh;
  margin: 0.5vh 0;
}
.priceTag1,
.priceTag2 {
  float: right;
}
hr {
  border: solid #c8c6c9 0.5px;
  margin: 0;
}
#receipt:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
#info {
  margin: 2vh 0;
  font-size: 1.7vh;
}
#busButton {
  position: absolute;
  bottom: 2.3vh;
  right: 3vw;
  text-decoration: none;
  color: inherit;
}
#busButton > p {
  font-weight: 410;
  text-align: center;
  font-size: 1.3vh;
}
#butButtonImage {
  height: 10.2vh;
}

#menu {
  background-color: white;
  color: #4d4d4d;
  position: fixed;
  top: 8.5vh;
  left: 0;
  display: block;
  width: 100vw;
  height: 91.5vh;
  padding: 4vh 4vh 30vh 4vh;
  visibility: hidden;
  box-sizing: border-box;
  opacity: 0;
  overflow-y: scroll;
  transition: 0.2s;
  font-size: 3vh;
}
#menu > p {
  font-size: 2vh;
}
#menu > input {
  font-size: 3vh;
}
#menu input {
  transform: scale(2);
  margin: 1vh;
  display: block;
}
#menu table {
  box-sizing: border-box;
}
#menu table thead {
  border: solid white 1px;
  font-size: 4vh;
}
#menu table thead th {
  font-weight: 300;
}
#menu table td,
#menu table th {
  padding: 1vh;
}
#menu hr {
  margin: 1vh 0;
}
#menuTyper button {
  background-color: #4d4d4d;
  color: white;
  font-size: 4vh;
  line-height: 4vh;
  font-family: monospace;
  padding: 0 1.5vw;
  border-radius: 10vh;
  border: none;
}
.menuButton {
  display: block;
  width: 100%;
  margin: 1vh 0;
  border-radius: 10vh;
  font-size: 3vh;
  padding: 0.5vh 2vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: white;
  background-color: #767676;
}
a#qrSection {
  z-index: 100;
  background-color: rgba(225, 230, 234, 0.95);
  background-image: url('qr_bg.png');
  background-size: cover;
  background-position: center;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 0;
  padding: calc(50vh - 50vw) 0 0 0;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
a#qrSection > h2 {
  text-align: center;
  font-size: 6vw;
  font-family: 'Helvetica', sans-serif;
}
a#qrSection > p {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  z-index: 11;
}
#qrdiv {
  position: relative;
  display: block;
  margin: auto;
  width: 50vw;
  height: 50vw;
}
